@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: papayawhip;
    text-align: center;
}

header {
    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10;
    
}

header .logo {
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;   
}

header ul li a {
    position: relative;
    margin: 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.1s;
}

.main-body {
    display: grid;
    height: 300px;
    grid-template-area: "overlap"
    justify-content: center;
    align-content: flex-start

}

.secaoCadastro,
.secaoBusca,
.secaoRemover,
.secaoTabela {
    /*display: inline-block;
    margin: 0 auto;*/
    grid-area: overlap;
    align-self:center;
    vertical-align: top;
    text-align: left;
}

.formHeader {
    margin-bottom: 10px;
}

.anchor_header:hover,
.anchor_header:active {

    color: white;

}

.formCadastro p,
.formBusca p,
.formRemover p {
    margin-bottom: 15px;
}

.cadastrarBtn,
.removerBtn,
.buscarBtn {
    background-color:black;
    text-align: center;
    border-radius: 10px;
    color: white;
    height: 25px;
    width: 100px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border: 1.5px solid black;
}

.cadastrarBtn:hover,
.removerBtn:hover,
.buscarBtn:hover {
    
    background-color: white;
    color: black;
    transition: 0.1s;
}

.tabela-usuarios {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.tabela-usuarios thead tr{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

.tabela-usuarios td {
    padding: 12px 15px;
    background-color: white;
    color: black;
}

